{% extends "layout.html" %}
{% block content %}
    <section class="splash-section">
        <h1>GeoBotanic</h1>
        <p>A geospatial and plant microbe/pathogen measurement nexus.</p>
    </section>

    <section class="splash-section">
        <!--
            To-Do:
            - write section for what GB is
            - Graphic for what GB is
        -->
        <h2>GeoBotanic</h2>
        <p>a geospatial web app that aims to create a user-friendly platform for the Cornell AgriTech community and collaborators. It offers an intuitive web map interface that allows users to upload, visualize, analyze, and store spatial data and corresponding descriptions for specific locations. The app encourages collaboration within the community by facilitating the sharing and exploration of geospatial information. By providing a centralized hub for spatial data management and analysis, the web app empowers researchers to gain valuable insights and fosters a collaborative environment at Cornell AgriTech.</p>
        <aside>
            <img src="" alt="blah" />
        </aside>
    </section>

    <section class="splash-section">
        <!--
            To-Do:
            - Write section on how it can work for AgriTech Labs
        -->
        <h2>How it can work for you</h2>
        <p></p>
        <aside>
            <img src="" alt="blah" />
        </aside>
    </section>
{% endblock %}