<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GeoBotanic</title>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock head %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Publications</a></li>
                <li><a href="#">Webmap</a></li>
                <li><a href="#">Collaboration Network</a></li>
            </ul>
            <span id="login-signup">
                <a href="#">Login</a>
                <a href="#">Sign Up</a>
            </span>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <!--
            To-Do:
            - Add links to goldlab page
            - Add links to github
            - Add cornell logo
            - Add links to Cornell
        -->
        <p>&copy; 2023 GeoSentryBotanic. All rights reserved.</p>
    </footer>
</body>
</html>